                        <div id="disqus_thread"></div>
                        <script type="javascript">
                            var disqus_config = function () {
                                this.page.url = '{{ disqus_url }}'; // Replace PAGE_URL with your page's canonical URL variable
                                this.page.identifier = '{{ disqus_identifier }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                            }

                            var disqus_developer    = 1;
                            var disqus_shortname    = '{{ disqus }}';

                            /* * * DON'T EDIT BELOW THIS LINE * * */
                            (function() {
                                var dsq     =   document, s = d.createElement('script');
                                dsq.type    =   'text/javascript';
                                dsq.async   =   true;
                                dsq.src     =   'http://' + disqus_shortname + + '.disqus.com/embed.js';
                                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                            })();
                        </script>
                        <noscript>
                            Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
                        </noscript>
                        <a href="http://disqus.com" class="dsq-brlink">
                            blog comments powered by <span class="logo-disqus">Disqus</span>
                        </a>