{% set pager = this.page.fileName %}
{% if pager is same as('home.htm') %}
{% if use_plugin_cookies %}
{% if use_popup == true %}
{% if use_which == 'notif_bar' or use_which == 'bouncy_flip' %}
{% if use_which == 'notif_bar' %} {% set class = 'pgn-bar' %} {% endif %}
{% if use_which == 'bouncy_flip' %} {% set class = 'pgn-flip' %} {% endif %}
<div class="pgn-wrapper" data-position="{{data_position}}">
    <div class="pgn {{class}}">
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
            </button>
            {% if use_which == 'notif_bar' or use_which == 'bouncy_flip' %}
            <span>{{ use_text|_}} :: {{use_text_more|_}} |<a target="_self" href="policy/cookies-policy">more</a></span>
            {% endif %}
            {% if use_which == 'simple' %}
            {{ use_text|_}} :: {{use_text_more|_}} |<a target="_self" href="policy/cookies-policy">more</a>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% if use_which == 'circle' %}
<div class="pgn-wrapper" data-position="{{data_position}}">
    <div class="pgn pgn-circle">
        <div class="alert alert-info">
            <div>
                <div class="pgn-thumbnail">
                    <div><img width="40" height="40" style="display: inline-block;" src="{{'assets/img/profiles/avatar_rich2x.jpg'|theme}}" data-src="{{'assets/img/profiles/avatar_rich.jpg'|theme}}" data-src-retina="{{'assets/img/profiles/avatar2x.jpg'|theme}}" alt="{{'Message from Gerekper.asia'|_}}"></div>
                </div>
                <div class="pgn-message">
                    <div>
                        <p class="bold">{{ use_text|_}} |<a target="_self" href="policy/cookies-policy">more</a></p>
                        <p>{{ use_text_more|_}}</p>
                    </div>
                </div>
            </div>
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        </div>
    </div>
</div>
{% endif %}
{% endif %}
{% endif %}
{% endif %}