
   <!-- BEGIN METATAGS -->
{% if use_plugin_meta is not empty %}
{% for meta in metas %}
{% if meta.type == "http-equiv" %}
   <meta {{ meta.type }}="{{meta.property}}" content="{{meta.content}}" />
{% elseif meta.type == "name" %}
   <meta {{ meta.type }}="{{meta.property}}" content="{{meta.content}}" />
{% elseif meta.type == "link" %}
   <link {{ meta.type }}="{{meta.property}}" href="{{meta.content}}" />
{% elseif meta.type == "property" %}
   <meta {{ meta.type }}="{{meta.property}}" content="{{meta.content }}" />
{% else %}
{% endif %}
{% endfor %}
{% endif %}
   <!-- END METATAGS -->
